<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzcf.shoes.dao.FactoryPaymentRecordMapper" >
  <resultMap id="BaseResultMap" type="com.hzcf.shoes.model.FactoryPaymentRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="factory_name" property="factoryName" jdbcType="VARCHAR" />
    <result column="bill_start_time" property="billStartTime" jdbcType="DATE" />
    <result column="bill_end_time" property="billEndTime" jdbcType="DATE" />
    <result column="customary_dues" property="customaryDues" jdbcType="DECIMAL" />
    <result column="actual_payment" property="actualPayment" jdbcType="DECIMAL" />
    <result column="balance_due" property="balanceDue" jdbcType="DECIMAL" />
    <result column="cut_payment" property="cutPayment" jdbcType="DECIMAL" />
    <result column="defective_goods" property="defectiveGoods" jdbcType="DECIMAL" />
    <result column="season" property="season" jdbcType="CHAR" />
    <result column="bill_status" property="billStatus" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, factory_name, bill_start_time, bill_end_time, customary_dues, actual_payment, 
    balance_due, cut_payment, defective_goods, season, bill_status, create_time, operator, 
    remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hzcf.shoes.model.FactoryPaymentRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zly_factory_payment_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zly_factory_payment_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zly_factory_payment_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hzcf.shoes.model.FactoryPaymentRecordExample" >
    delete from zly_factory_payment_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hzcf.shoes.model.FactoryPaymentRecord" >
    insert into zly_factory_payment_record (id, factory_name, bill_start_time, 
      bill_end_time, customary_dues, actual_payment, 
      balance_due, cut_payment, defective_goods, 
      season, bill_status, create_time, 
      operator, remark)
    values (#{id,jdbcType=INTEGER}, #{factoryName,jdbcType=VARCHAR}, #{billStartTime,jdbcType=DATE}, 
      #{billEndTime,jdbcType=DATE}, #{customaryDues,jdbcType=DECIMAL}, #{actualPayment,jdbcType=DECIMAL}, 
      #{balanceDue,jdbcType=DECIMAL}, #{cutPayment,jdbcType=DECIMAL}, #{defectiveGoods,jdbcType=DECIMAL}, 
      #{season,jdbcType=CHAR}, #{billStatus,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{operator,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hzcf.shoes.model.FactoryPaymentRecord" >
    insert into zly_factory_payment_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="factoryName != null" >
        factory_name,
      </if>
      <if test="billStartTime != null" >
        bill_start_time,
      </if>
      <if test="billEndTime != null" >
        bill_end_time,
      </if>
      <if test="customaryDues != null" >
        customary_dues,
      </if>
      <if test="actualPayment != null" >
        actual_payment,
      </if>
      <if test="balanceDue != null" >
        balance_due,
      </if>
      <if test="cutPayment != null" >
        cut_payment,
      </if>
      <if test="defectiveGoods != null" >
        defective_goods,
      </if>
      <if test="season != null" >
        season,
      </if>
      <if test="billStatus != null" >
        bill_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="factoryName != null" >
        #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="billStartTime != null" >
        #{billStartTime,jdbcType=DATE},
      </if>
      <if test="billEndTime != null" >
        #{billEndTime,jdbcType=DATE},
      </if>
      <if test="customaryDues != null" >
        #{customaryDues,jdbcType=DECIMAL},
      </if>
      <if test="actualPayment != null" >
        #{actualPayment,jdbcType=DECIMAL},
      </if>
      <if test="balanceDue != null" >
        #{balanceDue,jdbcType=DECIMAL},
      </if>
      <if test="cutPayment != null" >
        #{cutPayment,jdbcType=DECIMAL},
      </if>
      <if test="defectiveGoods != null" >
        #{defectiveGoods,jdbcType=DECIMAL},
      </if>
      <if test="season != null" >
        #{season,jdbcType=CHAR},
      </if>
      <if test="billStatus != null" >
        #{billStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hzcf.shoes.model.FactoryPaymentRecordExample" resultType="java.lang.Integer" >
    select count(*) from zly_factory_payment_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update zly_factory_payment_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.factoryName != null" >
        factory_name = #{record.factoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.billStartTime != null" >
        bill_start_time = #{record.billStartTime,jdbcType=DATE},
      </if>
      <if test="record.billEndTime != null" >
        bill_end_time = #{record.billEndTime,jdbcType=DATE},
      </if>
      <if test="record.customaryDues != null" >
        customary_dues = #{record.customaryDues,jdbcType=DECIMAL},
      </if>
      <if test="record.actualPayment != null" >
        actual_payment = #{record.actualPayment,jdbcType=DECIMAL},
      </if>
      <if test="record.balanceDue != null" >
        balance_due = #{record.balanceDue,jdbcType=DECIMAL},
      </if>
      <if test="record.cutPayment != null" >
        cut_payment = #{record.cutPayment,jdbcType=DECIMAL},
      </if>
      <if test="record.defectiveGoods != null" >
        defective_goods = #{record.defectiveGoods,jdbcType=DECIMAL},
      </if>
      <if test="record.season != null" >
        season = #{record.season,jdbcType=CHAR},
      </if>
      <if test="record.billStatus != null" >
        bill_status = #{record.billStatus,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operator != null" >
        operator = #{record.operator,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update zly_factory_payment_record
    set id = #{record.id,jdbcType=INTEGER},
      factory_name = #{record.factoryName,jdbcType=VARCHAR},
      bill_start_time = #{record.billStartTime,jdbcType=DATE},
      bill_end_time = #{record.billEndTime,jdbcType=DATE},
      customary_dues = #{record.customaryDues,jdbcType=DECIMAL},
      actual_payment = #{record.actualPayment,jdbcType=DECIMAL},
      balance_due = #{record.balanceDue,jdbcType=DECIMAL},
      cut_payment = #{record.cutPayment,jdbcType=DECIMAL},
      defective_goods = #{record.defectiveGoods,jdbcType=DECIMAL},
      season = #{record.season,jdbcType=CHAR},
      bill_status = #{record.billStatus,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      operator = #{record.operator,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzcf.shoes.model.FactoryPaymentRecord" >
    update zly_factory_payment_record
    <set >
      <if test="factoryName != null" >
        factory_name = #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="billStartTime != null" >
        bill_start_time = #{billStartTime,jdbcType=DATE},
      </if>
      <if test="billEndTime != null" >
        bill_end_time = #{billEndTime,jdbcType=DATE},
      </if>
      <if test="customaryDues != null" >
        customary_dues = #{customaryDues,jdbcType=DECIMAL},
      </if>
      <if test="actualPayment != null" >
        actual_payment = #{actualPayment,jdbcType=DECIMAL},
      </if>
      <if test="balanceDue != null" >
        balance_due = #{balanceDue,jdbcType=DECIMAL},
      </if>
      <if test="cutPayment != null" >
        cut_payment = #{cutPayment,jdbcType=DECIMAL},
      </if>
      <if test="defectiveGoods != null" >
        defective_goods = #{defectiveGoods,jdbcType=DECIMAL},
      </if>
      <if test="season != null" >
        season = #{season,jdbcType=CHAR},
      </if>
      <if test="billStatus != null" >
        bill_status = #{billStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzcf.shoes.model.FactoryPaymentRecord" >
    update zly_factory_payment_record
    set factory_name = #{factoryName,jdbcType=VARCHAR},
      bill_start_time = #{billStartTime,jdbcType=DATE},
      bill_end_time = #{billEndTime,jdbcType=DATE},
      customary_dues = #{customaryDues,jdbcType=DECIMAL},
      actual_payment = #{actualPayment,jdbcType=DECIMAL},
      balance_due = #{balanceDue,jdbcType=DECIMAL},
      cut_payment = #{cutPayment,jdbcType=DECIMAL},
      defective_goods = #{defectiveGoods,jdbcType=DECIMAL},
      season = #{season,jdbcType=CHAR},
      bill_status = #{billStatus,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

 <!-- 鞋厂汇总列表分页 -->
  <select id="findAllRetMapByPage" resultType="hashmap" parameterType="hashmap">
	  SELECT
	    	id,
			factory_name,
			sum(customary_dues) customary_dues,
			sum(cut_payment) cut_payment,
			sum(defective_goods) defective_goods
	FROM
		zly_factory_payment_record
		group by factory_name 
		<if test="factoryName != null">
			having factory_name = #{factoryName} 
		</if> 
		limit #{startIndex},#{pageSize}
  </select>
  
  <!-- 鞋厂汇总列表分页总数 -->
  <select id="findAllByPageCount" resultType="long" parameterType="hashmap">
  select COUNT(DISTINCT factory_name) from zly_factory_payment_record
	<if test="factoryName != null">
		where factory_name = #{factoryName} 
	</if> 
  </select>
  
  
  
<!-- 根据鞋厂名称查询账单列表 -->
  <select id="getFactoryBillList" parameterType="java.util.Map" resultType="hashMap">
    select
       id ,
       factory_name factoryName,
		DATE_FORMAT(create_time,'%Y-%m-%d') createTime,
		DATE_FORMAT(bill_start_time,'%Y-%m-%d') billStartTime,
		DATE_FORMAT(bill_end_time,'%Y-%m-%d') billEndTime,
      customary_dues customaryDues ,
      cut_payment cut_payment ,
      defective_goods	defectiveGoods,
     case when season = 0 then '冬季'
     else '其他季节' end  as seasonZh
   	 from zly_factory_payment_record 
     where
          factory_name = #{factoryName}
    order by create_time desc
   	 limit #{startIndex},#{endIndex}
  </select>

<!-- 查询鞋厂账单列表count -->
  <select id="getFactoryBillListCount" parameterType="java.util.Map" resultType="java.lang.Long">
        select
            count(0) totalRecord
        from
          zly_factory_payment_record
        where
          factory_name = #{factoryName}
  </select>
</mapper>