<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzcf.shoes.dao.JxStudentMapper" >
  <resultMap id="BaseResultMap" type="com.hzcf.shoes.model.JxStudent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="class_type" property="classType" jdbcType="VARCHAR" />
    <result column="study_time" property="studyTime" jdbcType="VARCHAR" />
    <result column="jx_name" property="jxName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, account, password, class_type, study_time, jx_name, remark, status, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hzcf.shoes.model.JxStudentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from jx_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from jx_student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from jx_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hzcf.shoes.model.JxStudentExample" >
    delete from jx_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hzcf.shoes.model.JxStudent" >
    insert into jx_student (id, account, password, 
      class_type, study_time, jx_name, 
      remark, status, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{classType,jdbcType=VARCHAR}, #{studyTime,jdbcType=VARCHAR}, #{jxName,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{createTime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hzcf.shoes.model.JxStudent" >
    insert into jx_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="classType != null" >
        class_type,
      </if>
      <if test="studyTime != null" >
        study_time,
      </if>
      <if test="jxName != null" >
        jx_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="classType != null" >
        #{classType,jdbcType=VARCHAR},
      </if>
      <if test="studyTime != null" >
        #{studyTime,jdbcType=VARCHAR},
      </if>
      <if test="jxName != null" >
        #{jxName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hzcf.shoes.model.JxStudentExample" resultType="java.lang.Integer" >
    select count(*) from jx_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update jx_student
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.classType != null" >
        class_type = #{record.classType,jdbcType=VARCHAR},
      </if>
      <if test="record.studyTime != null" >
        study_time = #{record.studyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.jxName != null" >
        jx_name = #{record.jxName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update jx_student
    set id = #{record.id,jdbcType=INTEGER},
      account = #{record.account,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      class_type = #{record.classType,jdbcType=VARCHAR},
      study_time = #{record.studyTime,jdbcType=VARCHAR},
      jx_name = #{record.jxName,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzcf.shoes.model.JxStudent" >
    update jx_student
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="classType != null" >
        class_type = #{classType,jdbcType=VARCHAR},
      </if>
      <if test="studyTime != null" >
        study_time = #{studyTime,jdbcType=VARCHAR},
      </if>
      <if test="jxName != null" >
        jx_name = #{jxName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzcf.shoes.model.JxStudent" >
    update jx_student
    set account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      class_type = #{classType,jdbcType=VARCHAR},
      study_time = #{studyTime,jdbcType=VARCHAR},
      jx_name = #{jxName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    <!-- 员工列表动态查询条件 -->
  <sql id="dynamicPageWhere">
  	<if test="account != null">
  	 	and account  =  #{account}
 	</if>
 		<if test="classType != null">
  	 	and class_type   LIKE CONCAT('%', #{classType},'%') 
 	</if>
 	<if test="jxName != null">
  	 	and jx_name   LIKE CONCAT('%', #{jxName},'%')    
 	</if>
 	<if test="status != null">
  	 	and status   =  #{status}   
 	</if>
 	<if test="minCreateTime != null">
      <![CDATA[
 		AND DATE_FORMAT(create_time ,'%Y-%m-%d') >= #{minCreateTime}
 		]]>
    </if>
    <if test="maxCreateTime != null">
      <![CDATA[
 		AND DATE_FORMAT(create_time ,'%Y-%m-%d') <= #{maxCreateTime}
 	]]>
    </if>
  </sql>
  
  <!-- 驾校预约表分页 -->
  <select id="findAllRetMapByPage" resultType="hashmap" parameterType="hashmap">
  	SELECT
			id,
			account,
			password,
			class_type,
			study_time,
			jx_name,
			remark,
			status,
			case when status = 0 then '已处理'
     		 else '未处理' end as statuszh,
			DATE_FORMAT(create_time,'%Y-%m-%d') create_time
	from jx_student
	  WHERE 1=1
	<include refid="dynamicPageWhere"/>
	<if test="startIndex != null">
		limit #{startIndex},#{pageSize}
	</if>
  </select>
  
  <!-- 驾校预约列表分页总数 -->
  <select id="findAllByPageCount" resultType="long" parameterType="hashmap">
  	SELECT COUNT(id) FROM jx_student
	WHERE 1=1
	<include refid="dynamicPageWhere"/>
  </select>
  
</mapper>